.actions {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content .h3 {
  font-size: 18px;
}
.content .valor {
}

.content .cantidad {
  font-weight: 600;
}

input{
  margin: 6px 0;
}

input,
.input,
textarea,
select {
  -webkit-appearance: none;
  background-color: white;
  color: inherit;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid lightgray;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.6em;
  margin-right: 0.6em;
  min-width: 15em;
}
input::placeholder,
textarea::placeholder {
  color: lightgray;
}
input:hover:not(:disabled):not(:focus),
.input:hover:not(:disabled):not(:focus),
textarea:hover:not(:disabled):not(:focus),
select:hover:not(:disabled):not(:focus) {
  border-color: silver;
}
input:focus,
.input:focus,
textarea:focus,
select:focus {
  border-color: darkgray;
}
input:read-only,
textarea:read-only {
  color: darkgray;
}
input:disabled,
.input:disabled,
textarea:disabled,
select:disabled {
  background-color: whitesmoke;
  color: darkgray;
}

.actions button {
  align-items: center;
  background: #000;
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  gap: 12px;
  font-size: 14px;
  text-wrap: nowrap;
  font-weight: 700;
  display: flex;
  justify-content: center;
  line-height: 24px;
  outline: 0;
  padding: 20px 32px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 20px;
  -webkit-transition: all 0.18s linear;
  -ms-transition: all 0.18s linear;
  transition: all 0.18s linear;
}

.actions button.cancelar {
  background: #fff;
  color: #777e90;
  border: 1px solid #777e90;
}
